[submodule "sources_non_forked/ale"]
	path = sources_non_forked/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "sources_non_forked/ack.vim"]
    path = sources_non_forked/ack.vim
    url = https://github.com/mileszs/ack.vim.git
[submodule "sources_non_forked/bufexplorer"]
    path = sources_non_forked/bufexplorer
    url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "sources_non_forked/cscope_maps"]
	path = sources_non_forked/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "sources_non_forked/ctrlp.vim"]
    path = sources_non_forked/ctrlp.vim
    url = https://github.com/ctrlpvim/ctrlp.vim.git
    ignore = dirty
[submodule "sources_non_forked/mayansmoke"]
    path = sources_non_forked/mayansmoke
    url = https://github.com/vim-scripts/mayansmoke.git
    ignore = dirty
[submodule "sources_non_forked/mru.vim"]
    path = sources_non_forked/mru.vim
    url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources_non_forked/nerdtree"]
    path = sources_non_forked/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "sources_non_forked/open_file_under_cursor.vim"]
    path = sources_non_forked/open_file_under_cursor.vim
    url = https://github.com/amix/open_file_under_cursor.vim.git
    ignore = dirty
[submodule "sources_non_forked/snipmate-snippets"]
    path = sources_non_forked/snipmate-snippets
    url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "sources_non_forked/syntastic"]
	path = sources_non_forked/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "sources_non_forked/tlib"]
	path = sources_non_forked/tlib
    url = https://github.com/tomtom/tlib_vim.git
[submodule "sources_non_forked/vim-addon-mw-utils"]
	path = sources_non_forked/vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources_non_forked/vim-airline"]
	path = sources_non_forked/vim-airline
    url = https://github.com/bling/vim-airline.git
[submodule "sources_non_forked/vim-colors-solarized"]
	path = sources_non_forked/vim-colors-solarized
    url = https://github.com/altercation/vim-colors-solarized.git
[submodule "sources_non_forked/vim-desert256"]
	path = sources_non_forked/vim-desert256
    url = https://github.com/brafales/vim-desert256.git
[submodule "sources_non_forked/vim-expand-region"]
	path = sources_non_forked/vim-expand-region
    url = https://github.com/terryma/vim-expand-region.git
    ignore = dirty
[submodule "sources_non_forked/vim-fugitive"]
	path = sources_non_forked/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "sources_non_forked/vim-multiple-cursors"]
	path = sources_non_forked/vim-multiple-cursors
    url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "sources_non_forked/vim-pyte"]
	path = sources_non_forked/vim-pyte
    url = https://github.com/therubymug/vim-pyte.git
[submodule "sources_non_forked/vim-sean"]
	path = sources_non_forked/vim-sean
    url = https://github.com/vim-scripts/sean.vim.git
[submodule "sources_non_forked/vim-snipmate"]
	path = sources_non_forked/vim-snipmate
    url = https://github.com/garbas/vim-snipmate.git
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
    url = https://github.com/honza/vim-snippets.git
[submodule "sources_non_forked/vim-surround"]
	path = sources_non_forked/vim-surround
    url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "sources_non_forked/goyo"]
	path = sources_non_forked/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "sources_non_forked/lightline-ale"]
	path = sources_non_forked/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "sources_non_forked/tabular"]
	path = sources_non_forked/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "sources_non_forked/lightline.vim"]
	path = sources_non_forked/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "sources_non_forked/vim-commentary"]
	path = sources_non_forked/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "sources_non_forked/vim-lastplace"]
	path = sources_non_forked/vim-lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "sources_non_forked/vim-markdown"]
	path = sources_non_forked/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "sources_non_forked/vim-zenroom2"]
	path = sources_non_forked/vim-zenroom2
	url = https://github.com/amix/vim-zenroom2
[submodule "sources_non_forked/vim-yankstack"]
	path = sources_non_forked/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack
